<tr id="<%= dom_id project %>">
  <td>
    <%= link_to project.name, project %>
  </td>

  <td>
    <progress class="progress is-primary" value="<%= project.tasks.completed.count %>" max="<%= project.tasks.count %>">15%</progress>
  </td>
</tr>
