<h1 class="title">
  You have <span><%= @projects.count %> </span> projects:
</h1>

<table class="table is-bordered is-fullwidth is-stripped">
  <tr>
    <th>Name</th>
    <th>Completion</th>
  </tr>

  <%= render partial: "projects/project", collection: @projects %>
</table>

<%= link_to "New project", new_project_path %>
