<p style="color: green"><%= notice %></p>

<%= render "projects/header", project: @project %>

<table class="table is-bordered is-fullwidth is-stripped">
  <tr>
    <th>Name</th>
  </tr>

  <%= render partial: "projects/task", collection: @project.tasks %>
</table>


